<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExcelTemplateName" value="MY_amIT_Timesheet.xlsx"/>
    <add key="ClientName" value=""/>
    <add key="Supervisor" value=""/>
    <add key="EmployeeName" value=""/>
    <add key="EmployeeId" value=""/>
  </appSettings>
</configuration>